ansible==1.9.3
appnope==0.1.0
arrow==0.5.4
beautifulsoup4==4.4.1
beets==1.3.3
click==5.1
decorator==4.0.2
dropbox==2.0.0
ecdsa==0.13
Flask==0.10.1
FontTools==2.4
funcsigs==0.4
futures==3.0.2
gnureadline==6.3.3
httplib2==0.9
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
libdw==2013.post3
MarkupSafe==0.23
matplotlib==1.4.3
mock==1.3.0
munkres==1.0.6
musicbrainzngs==0.5
mutagen==1.22
nose==1.3.1
numpy==1.8.1
oauth2==1.9.0.post1
oauthlib==1.0.3
ordereddict==1.1
paramiko==1.15.2
path.py==8.1.1
pathlib==1.0.1
pbr==1.8.0
pep8==1.5.6
pexpect==3.3
pickleshare==0.5
Pillow==2.8.1
pycrypto==2.6.1
pyfiglet==0.7.2
pyparsing==2.0.3
PySocks==1.5.3
python-dateutil==2.4.2
python-dotenv==0.1.5
pytz==2015.6
PyYAML==3.10
rainbowstream==1.2.7
requests==2.6.0
requests-oauthlib==0.5.0
scikit-learn==0.16.1
scipy==0.16.0
simplegeneric==0.8.1
simplejson==3.4.1
singledispatch==3.4.0.3
six==1.9.0
thefuck==1.7
traitlets==4.0.0
twitter==1.16.0
Unidecode==0.4.14
urllib3==1.8
vboxapi==1.0
virtualenv==1.11.4
Werkzeug==0.10.4